@use "styles/partials/global" as *;

// @rel/../site-footer.scss

.footer-meta {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #cbd5f5;

  > .note {
    font-weight: 600;
    color: #fff;
  }

  > .copy {
    font-size: 0.85rem;
    color: #94a3b8;
  }

  // --shared ----------------------------------------

  // --interaction -----------------------------------
  // @at-root & {
  // }
}
