@use "styles/partials/global" as *;

// Import blocks used in this page
@use "blocks/hero-section/hero-section";
@use "blocks/card-list/card-list";

.main-container {
  min-height: 100vh;
  background-color: var(--color-bg);

  > .site-header {
    // @partials/site-header/site-header.scss
    z-index: 100;
  }

  > .hero-section {
    // @blocks/hero-section/hero-section.scss
    margin-top: 0;
  }

  > .card-list {
    // @blocks/card-list/card-list.scss
    margin-top: 3.75rem;

    @include breakpoint-up(md) {
      margin-top: 5rem;
    }
  }

  > .site-footer {
    // @partials/site-footer/site-footer.scss
    margin-top: 4rem;
  }
}
